.delete {
    background: 1px solid #F44336;
    color: #F44336;
    border: 1px solid #F44336;

}

.progress {
    background: 1px solid #3F51B5;
    color: #3F51B5;
    border: 1px solid #3F51B5;

}