/*This does not contain any style . Do not insert and style info. This is ony for dimensons for onsen*/

ons-input {
    width: 100%;
}

.validation.validation-mobile.text-danger {
    font-size: smaller;
    font-weight: lighter;
    color: #F44336;
}

.validation.validation-fullname.text-danger {
    font-size: smaller;
    font-weight: lighter;
    color: #F44336;
}

.validation.validation-email.text-danger {
    font-size: smaller;
    font-weight: lighter;
    color: #F44336;
}

.card-date-formatter {
    width: auto;
    /* float: right; */
    text-align: right;
    color: #a09e9e;
    margin: 2%;
    margin-left: 2%;
    /* top: 0; */
    left: 27%;
}

.legend-left {
    float: left;
}

.legend-right {
    float: right;
}

/*Enable Below For Dark theme Only*/
/*legend.ng-binding {
    color: white;
}

h1.no-margin-pad.truncate {
    color: white;
}
*/

.card-container {
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    margin-left: 2%;
    margin-right: 2%;
    width: 95%;
    height: auto;
    border-radius: 2px;
    display: inline-block;
    background: white;
}

.card-header {
    width: 100%;
    height: 70%;
}

.card-footer {
    height: 30%;
    width: 96%;
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-image-container {
    width: 100%;
    height: 100%;
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    /* margin-top: 2%; */
    margin-bottom: 2%;
}

.card-image-tuple {
    width: 100%;
    object-fit: cover;
    height: inherit;
}

.card-p {
    margin-bottom: 0;
}


.card-full {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 2%;
    margin-bottom: 2%;
}